# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=your-openai-api-key

# Get your Groq API Key here: https://console.groq.com/keys
GROQ_API_KEY=your-groq-api-key
